#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.loading-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  background-color: #f0f0f07a;
  border-radius: 50%;
  border: solid 1px white;
}

.pop-art-text {
  font-family: 'Comic Sans MS', cursive; 
  font-size: 36px;
  color: #ff0000;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: pop 1s infinite; 
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); } 
  100% { transform: scale(1); }
}

/* //////////////////////////////////////////////////////////////// */
/* Home Page */

.home div {
  background-color: #4a4a4a;
}
/* //////////////////////////////////////////////////////////////// */
/* Comic List Page */

.comic-book-list {
  background-color: #808080;
  padding: 70px;
}

.comic-book-list ul {
  display: flex;
  flex-direction: column;
  background-color: #4a4a4a95;
  border: 1px solid white;
  padding: 30px;
  padding-left: 50px;
}

.comic-book-list button {
  float: right;
}
/* //////////////////////////////////////////////////////////////// */
/* Comic Edit Page */

.comic-edit-page form {
  padding: 20px;
  font-weight: 800;
  background-color: rgba(139, 133, 133, 0.637);
  border: solid 2px #ff9564;
  border-radius: 8px;
  display: flex;
  align-items: center;

}

.comic-edit-page form input,textarea {
  background-color: rgb(105, 105, 105);
}

/* //////////////////////////////////////////////////////////////// */
/* Page Display */

.page-scroll-container {
  display: flex;
  gap: 20px;
  padding: 2%;
  margin-bottom: 20px;
  background-color: #ff9564;
}

.page-list {
  overflow-x: auto;
  display: inline-block;
  white-space: nowrap;
  padding: 20px;
  background-color: #007bff;
}

.page-card {
  flex: 0 0 auto;
  min-width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
  width: 200px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.page-card img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.page-card h3 {
  margin: 10px 0;
}

.page-card p {
  font-size: 14px;
  color: #666;
}

/* //////////////////////////////////////////////////////////////// */
/* Modal Display */

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8d8d8d;
  padding: 25px;
  border: 1px solid #737373;
  border-radius: 8px;
  box-shadow: -4px 10px 10px rgba(69, 87, 205, 0.50);
  max-width: 53vw;
  display: flex;
  flex-direction: column;
}
.modal h2 {
  background-image: linear-gradient(to right, #8d8d8d9d, #8d8d8d9d, #b1b1b1, #b1b1b1, #b1b1b1, #8d8d8d9d, #8d8d8d9d);
  color: rgb(115, 115, 115);
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #4a4a4a;
  justify-self: center;
  margin: 10px;
}

.modal form {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.2);
  width: 50vw;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal label {
  margin-bottom: 10px;
  font-weight: 700;
}

.modal input,
.modal textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
  background-color: rgb(92, 118, 144) !important;
  align-self: center;
}

.modal button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button[type="submit"] {
  background-color: #28a745;
  width: 50%;
  align-self: center;
  margin-bottom: 30px; 
  box-shadow: 2px 3px 3px#165e27;
}

.modal button[type="button"] {
  align-self: flex-end;
  background-color: #ff0019; 
  box-shadow: 2px 3px 3px#5c0009;
  font-size: large;
}



/* //////////////////////////////////////////////////////////////// */
/* Confirmation Window */
.confirmation-dialog {
  font-family: Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  max-width: 300px;
  text-align: center;
}

.confirmation-dialog h3 {
  margin-top: 0;
}

.confirmation-dialog p {
  margin-bottom: 20px;
}

.confirmation-dialog button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.confirmation-dialog button.cancel-btn {
  background-color: #ff0019;
}

/* //////////////////////////////////////////////////////////////// */
/* Media Queries*/

@media screen and (max-width: 1200px){
  .modal button[type="submit"] {
    width: 50%;
  }
}







